@import '/src/style/var.scss';

@media screen and (max-width: $tablet-bp) {
  .topline {
    display: none;
  }

  .secondline_container {
    display: none;
  }

  .tablet_header {
    display: block;
  }
}