@import "/src/style/var.scss";

.secondline_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px rgba($primary, 0.25) solid;
  border-top: 1px rgba($primary, 0.25) solid;
  padding: 1rem 3rem 1rem 2rem;
  max-width: 1366px;
  margin: auto;
}