@import '/src/style/var.scss';

.header_filter {
  display: flex;
  align-items: end;
  width: 98%;
  justify-content: space-between;
  position: relative;
}

.main_title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  color: $black;
  line-height: 4rem;
}

.sort {
  display: flex;
  b {
    color: $black;
    margin-right: 0.5rem;
  }

}

.sort_arrow {
  cursor: pointer;
}
