@import '/src/style/var.scss';

main {
  padding: 140px 20px 1.5rem;
}

.main_container {
  display: flex;
  gap: 50px;
}

.content_container {
  display: block;
  width: 100%;
  justify-content: center;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.empty_list {
  max-width: 1228px;
  text-align: center;
}

.empty_title {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  font-style: italic;
}

