// Colors
$primary: #3F4E65;
$black: #111111;
$yellow: #FFC85E;
$white: #fff;
$green: #1FD85D;
$bg-white: #E5E5E5;
$bg_price: rgba(254, 202, 110, 0.3);

// Breakpoints
$tablet-bp: 1260px;
$mobile-bp: 575px;